<!DOCTYPE html>
<html>
    <head>
        <title>
            Register
        </title>
    </head>
    <body>
        <form action="/login" method="POST">
        <br> Email:  <input type="email" name="email">
        <br> Password:  <input type="password" name="password">
        <br> <button type="submit"> Login </button>        
        </form>
        <br>Don't have an account?
        <form action="/register" method="GET"><button type="submit"> Register </button></form>
    </body>
</html>