<!DOCTYPE html>
<html>
    <head>
        <title>
            Register
        </title>
    </head>
    <body>
        <form action="/otp" method="POST">
        <br> First Name:  <input type="text" name="firstName">
        <br> Middle Name: <input type="text" name="middleName">
        <br> Last Name:  <input type="text" name="lastName">
        <br> Email:  <input type="email" name="email">
        <br> Password:  <input type="password" name="password">
        <br> Password Confirm: <input type="password" name="passwordConfirm">
        <br> Mobile Number: <input type="tel" name="mobile">
        <br> DOB:   <input type="date" name="dob">
        <br> Education: <input type="text" name="education">
        <br> Address : <input type="text" name="address">
        <br> Pin Code: <input type="text" name="pinCode">
        <br> City    : <input type="text" name="city">
        <br> State   : <input type="text" name="state">
        <br> Country : <input type="text" name="country">
        <br> Attachment: <input type="file" name="attachment">
        <br> <button type="submit"> Submit </button>        
        </form>
        <br>Already have an account?
        <form action="/login" method="GET"><button type="submit"> Login </button></form>        
    </body>
</html>