<!DOCTYPE html>
<html>
    <head>
        <title>
            Verify
        </title>
    </head>
    <body>
        <h3>OTP Sent to your mobile number. Verify to continue</h3>
        <form action="/register" method="POST">
        <br> OTP  <input type="text" name="otp">
        <br> <button type="submit"> Submit </button>        
        </form>       
    </body>
</html>